apiVersion: v1
kind: ConfigMap
metadata:
  name: postgres-config
data:
  POSTGRES_DB: airflow
  POSTGRES_USER: postgres
  POSTGRES_PASSWORD: airflowpass

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-poc
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres-poc
  template:
    metadata:
      labels:
        app: postgres-poc
    spec:
      containers:
      - name: postgres
        image: postgres:15
        ports:
        - containerPort: 5432
        envFrom:
        - configMapRef:
            name: postgres-config
        volumeMounts:
        - name: postgres-storage
          mountPath: /var/lib/postgresql/data
          subPath: postgres
      volumes:
      - name: postgres-storage
        persistentVolumeClaim:
          claimName: postgres-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: postgres-poc
spec:
  selector:
    app: postgres-poc
  type: ClusterIP
  ports:
  - protocol: TCP
    port: 5432
    targetPort: 5432
